*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
}

body {
  margin: 0;
  padding: 0;
}

.nav-link {
  display: block;
  padding: 0.1rem 0.5em;
}

.nav-tabs {
  padding-right: 0px;
}

.input-group-text {
  border-radius: 0px;
}

.form-row {
  display: -ms-flexbox;
  display: block;
}

.color {
  margin-top: 0;
  margin-bottom: 0.3rem;
  color: blue;
  padding: 4px 7px 0px 7px;
}

.clear {
  clear: both;
}

.content {
  margin: auto;
  width: 25%;
  padding: 10px;
}

.tab-pane {
  width: 100%;
}

.form-control {
  border-radius: unset;
}
.InputIndex{
  border-radius: 15px;
}
.InputIndex:focus{
  border-color: #018e9f;
}

section {
  padding: 17px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #fafdfb;
}

.section-title {
  text-align: center;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #018e9f;
  z-index: 2;
}

.section-title span {

  top: 30px;
  color: #f4f4f4;


  z-index: 1;
  font-weight: 700;
  font-size: 52px;
  text-transform: uppercase;
  line-height: 0;
}

.section-title p {
  margin-bottom: 0;
  z-index: 2;
}

@media (max-width: 575px) {
  .content {
    margin: auto;
    width: max-content;
    padding: 10px;
  }
  .section-title h2 {
    font-size: 28px;
    margin-bottom: 15px;
  }

  .section-title span {
    font-size: 38px;
  }
}

.Admin .AdminLoginStyle {
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 30px;
  width: 60%;
}

.Admin .AdminLoginStyle input {
  border-radius: 15px;
  box-shadow: none;
  font-size: 14px;
  padding: 20px 15px;
  border-color: #018e9f;
}

form button[type="submit"] {
  background: #018e9f;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 5px;
}

.Admin .AdminLoginStyle button[type="submit"]:hover {
  background: #018e9f;
}

.overlay {
  background: #018e9f;
}

#langChanger a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
}
#langChanger a:hover {
  text-decoration: underline #dedede;
}

.logo {
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
}
a{
  text-decoration: unset !important;
}