$direction : ltr;
$lang: en;
$floatLeft : left;
$floatRight : right;
$PublicSize : 18px;

@if $direction == ltr {
    $floatLeft : left;
    $floatRight : right;
}
@else if  $direction == rtl{   
    $floatLeft : right;
    $floatRight : left;
}

