$direction : ltr;
$floatLeft : left;
$floatRight : right;
$PublicSize : 15px;
$ZeroSize:0px;
$MainColor: #018e9f;
$DarkColor: #b2b2b2;

@if $direction==ltr {
    $floatLeft: left;
    $floatRight: right;
}

@else if $direction==rtl {
    $floatLeft: right;
    $floatRight: left;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;

    body {
        margin: $ZeroSize;
        padding: $ZeroSize;
        text-align: unset;
        direction: $direction;
    }
}

.card {
    background-color: #dedede;
}

.nav {
    padding: 0;
}

.input-group-text {
    border-radius: 0;
}

.overlay {
    background: #018e9f;
}

#langChanger a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
}

#langChanger a :hover {
    text-decoration: underline #dedede;
}

.logo {
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
}

a {
    text-decoration: unset !important;
}
.btn-primary{
    @extend %Color;
    &:disabled{
        @extend %Color;
    }
    &:not(:disabled){
        @extend %Color;
    }
    &:hover{
        @extend %Color;
    }
}
.form-control{
    border-radius: 15px;
    &:focus{
        border-color: #018e9f;
    }
}

%Color {
    color: #fff;
    background-color: #018e9f;
    border-color: #018e9f;
}


@supports (zoom:2) {
    input[type=checkbox] {
        zoom: 1.5;
        margin-top: unset;
        margin-left: -0.8rem;
        margin-top: 3px
    }
}

@supports not (zoom:2) {
    input[type=checkbox] {
        transform: scale(2);
    }
}