$direction : ltr;
$floatLeft : left;
$floatRight : right;
$PublicSize : 15px;
$ZeroSize:0px;
$MainColor: #018e9f;
$DarkColor: #b2b2b2;

@if $direction==ltr {
    $floatLeft: left;
    $floatRight: right;
}

@else if $direction==rtl {
    $floatLeft: right;
    $floatRight: left;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;

    body {
        margin: $ZeroSize;
        padding: $ZeroSize;
        text-align: unset;
        direction: $direction;
    }
}

.content {
    margin: auto;
    width: 30rem;
    padding: 10px;
    box-shadow: 0 0 30px rgb(214 215 216 / 60%);
    padding: 30px;
    padding: 11px 45px 40px;
}



@media (max-width: 768px) {
    .content {
        margin: auto;
        width: 100%;
        padding: 10px;
        font-size: 13px;
    }
    button.btn.bg-primary.dropdown-toggle{
        width: 12rem !important;
    }
    .IconGroupsTow .form-group {
        margin-bottom: 1rem;
        padding: 0px 0px 5px 0px !important;
    }
    .FontSize {
        font-size: $PublicSize !important ;
    }
}

.IconGroupsTow{
    form-group {
        padding: 0px 10px 5px 0px;
    }
  

}
.IconGroups,.IconGroupsTow{
    display: flex;
    text-align: center;
    justify-content: center;

    .form-group {
        margin-bottom: 1rem;
        padding: 0px 10px 5px 0px;
    }
    .FontSize {
        font-size: $PublicSize+3;
    }
}
.form-control{
    &:focus{
        box-shadow: 0 0 0 0.1rem $MainColor;
    }
}
.bg-primary {
    background-color: #007bff!important;
    color: #fff;
}
button.btn.bg-primary.dropdown-toggle{
    width: 17rem;
}

.NextBtn{
 width: 10rem;
//  margin-right: 40px;
//  margin-left: 60px;
// float: $floatRight;
}